---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import EMailIcon from "../components/icons/EMail.astro";
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import PhoneIcon from '../components/icons/Phone.astro';
---

<Layout
  title="Portfolio de Adrián - Desarrollador y Programador Web con 3 Meses de Experiencia"
  description="Contrata a Adrián para crear tu aplicación web o móvil. Desarrollador Web"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="/FotoAdrian.jpg"
        alt="Adrian photo"
      />
      <h1 class="text-white text-lg sm:text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Adrián
        <a
          href="https://www.linkedin.com/in/adri%C3%A1n-oliva-del-r%C3%ADo-952038223"
          target="_blank"
          rel="noopener norreferer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80">
        3 meses de experiencia. Desarrollador Web y Aplicaciones
        Multiplataforma. De Cádiz, España.
      </h2>

      <nav class="flex flex-col md:flex-row gap-y-2 md:gap-y-0 md:gap-x-4 mt-8">
        <SocialPill href="http://www.linkedin.com/in/adri%C3%A1n-oliva-del-r%C3%ADo-952038223">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/AdrianOliva2">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:adrian230902@hotmail.com">
          <EMailIcon class="size-6" />
          adrian230902@hotmail.com
        </SocialPill>
        <SocialPill href="tel:+34678345268">
          <PhoneIcon class="size-6" />
          Teléfono
        </SocialPill>
      </nav>
    </SectionContainer>

	<SectionContainer id="experiencia">
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
			<Briefcase class="size-7"/>
			Experiencia laboral
		</h2>
		<Experience/>
	</SectionContainer>
  </main>
</Layout>
