---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Agosto 2024 - Actualidad",
    title: "Desarrollador Frontend - KnowMad Mood",
    description: "Desarrollo Web de AtresMedia. Utilizando lenguajes como: JavaScript, HTML, CSS, React.",
    link: "https://www.knowmadmood.com"
  },
  {
    date: "Marzo 2023 - Junio 2023",
    title: "Desarrollador Web y Aplicaciones Multiplataforma - ControlNet Telco Solutions",
    description: `Desarrollo de aplicaciones en una consultoría informática. Utilizando lenguajes como: C#, VisualBasic,
    JavaScript, Aspx y CSS.`,
    link: "https://controlnet.es/",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
